label {
    width: 120px;
    margin: 5px;
}

input {
    margin: 5px;
}

.img{ 
    vertical-align: text-top;
}

.by {
    color: white;
    background-color:#7ec3b9 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 5px 0px
}


